:root {
  --background: #ffffff;
  --foreground: #000;
  --primary-color: #4A3AFF;
  --space: 34px;
}
@media (min-width: 768px) {
  :root{
      --space: 114px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
      --background: #2e2d2d;
      --foreground: #ededed;
  }
}

html, body {
  padding: 0;
  margin: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  html {
      color-scheme: dark;
  }
}
